<div>
    <div aria-label="input-data">
        <div class="d-flex flex-row my-4">
            <div class="form-floating mb-3">
                <input type="email" class="form-control fw-bold" style="border: 1px solid #004972; padding: 12px 10px 0 9px; height: 50px; font-size: 14px; color: #004972;" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="color: #004972; font-size: 15px; padding: 12px 0 0 7px">Labels in Expense Type</label>
            </div>
            <div class="form-floating mb-3 mx-3">
                <input type="email" class="form-control fw-bold" style="border: 1px solid #004972; padding: 12px 10px 0 9px; height: 50px; font-size: 14px; color: #004972;" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="color: #004972; font-size: 15px; padding: 12px 0 0 7px">Labels in Expense Name</label>
            </div>
            <div aria-label="save-button">
                <button class="btn text-white fw-bold" style="background-color: #004972; height: 50px; width: 80px;">Save</button>
                <button class="btn btn-danger text-white fw-bold mx-3" (click)="renderSettingsGeneral()" style="height: 50px; width: 80px;">Cancel</button>
            </div>
        </div>
    </div>

    <div aria-label="table-labels">
        <div class="container mt-5 mb-5">
            <table class="table table-striped text-center">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Labels in Type</th>
                    <th scope="col">Labels in Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" colspan="5" class="text-center">- No Data -</th>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>