<div class="container-fluid shadow-sm bg-body rounded">
    <a href="/main"><img class="py-4 mx-3" src="~src/assets/logo.svg" alt="Logo"></a>
</div>
<div class="container-fluid" style=" background-image: url('./../../../assets/finance-main-background.png'); width: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; padding: 100px 0 0 0; height: 90vh;">
    <img src="~src/assets/logo.svg" alt="Logo" class="mx-auto d-block img-py">
    <p class="text-center text-white d-block lh-lg font-family"><br>
        <b>Finace Chrome</b> is an Software as a Service (SaaS) that provides finance <br>
        management for personal used. The application is design to become a <br>
        user friendly and responsive to monitor your daily finance status. It is <br>
        one of the Chrome Series that is on-development.
    </p><br><br>
    <div class="text-center">
        <button type="button" (click)="register()" id="btn-size" class="btn btn-blue-sign-up fw-bold mx-5">SIGN-UP</button>
        <button type="button" (click)="login()" id="btn-size" class="btn btn-blue-sign-in fw-bold">SIGN-IN</button>
        <img src="~src/assets/scroll-indicator.svg" class="d-block m-auto mt-5" style="padding-left: 50px; padding-top: 40px;">
    </div>
</div>
<div class="container-fluid">
    <p class="text-center fs-5 mt-5 fw-bold">Original Cloud Service of Chrome Series</p>
    <hr class="text-dark w-75 m-auto my-4" style="border-width: 3px;">
    <div class="container px-5 my-5 h-50">
        <div class="row mx-5">
            <div class="col" style="width: 376px;">
                <img class="d-block m-auto" src="~src/assets/logo.svg" alt="Finance Chrome Logo">
                <p class="text-center my-4">Finance Chrome is a software that gives a financial management realtime and to track the daily expenses.</p>
                <button type="button" class="btn fw-bold d-block m-auto" style="background-color: #0068A3; color: #FFFFFF">SIGN IN HERE</button>
            </div>
            <div class="col" style="width: 376px;">
                <img class="d-block m-auto" src="~src/assets/retail-logo.svg" alt="Finance Chrome Logo">
                <p class="text-center my-4">Finance Chrome is a software that gives a financial management realtime and to track the daily expenses</p>
                <button type="button" class="btn fw-bold d-block m-auto" style="background-color: #DD9F52; color: #FFFFFF">SIGN IN HERE</button>
            </div>
            <div class="col" style="width: 376px;">
                <img class="d-block m-auto" src="~src/assets/solidity-logo.svg" alt="Finance Chrome Logo">
                <p class="text-center my-4">Finance Chrome is a software that gives a financial management realtime and to track the daily expenses.</p>
                <button type="button" class="btn fw-bold d-block m-auto" style="background-color: #404040; color: #FFFFFF">SIGN IN HERE</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #EDEDED;">
    <div class="container px-5 mt-4">
        <div class="row mx-5">
            <div class="col">
                <div class="d-flex flex-row">
                    <div class="py-4">
                        <p class="fw-bold">Social Media</p>
                        <div class="row">
                            <div class="col">
                                <div style="margin: 0; padding: 0;">
                                    <img src="~src/assets/h-divider.svg">
                                </div>
                            </div>
                            <div class="col">
                                <ul style="list-style-type: none; margin-left: -70px;">
                                    <li><a href="https://www.linkedin.com/in/gerald-diego-8aab2222a/" class="text-dark">LinkedIn</a></li>
                                    <li><a href="https://www.facebook.com/gerald.diego.54" class="text-dark">Facebook</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 px-5">
                        <p class="fw-bold">Job Websites</p>
                        <div class="row">
                            <div class="col">
                                <div style="margin: 0; padding: 0;">
                                    <img src="~src/assets/h-divider.svg">
                                </div>
                            </div>
                            <div class="col">
                                <ul style="list-style-type: none; margin-left: -70px;">
                                    <li><a href="https://myjobstreet.jobstreet.com.ph/resume/preview-resume.php" class="text-dark">Job Street</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-4">
                        <p class="fw-bold">Portfolio Websites</p>
                        <div class="row">
                            <div class="col">
                                <div style="margin: 0; padding: 0;">
                                    <img src="~src/assets/h-divider.svg">
                                </div>
                            </div>
                            <div class="col">
                                <ul style="list-style-type: none; margin-left: -80px;">
                                    <li><a href="https://gerald-diego54.github.io/gerald-portfolio/" class="text-dark">GitHub</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-row-reverse">
                    <div class="py-4">
                        <p class="fw-bold">Contact Information</p>
                        <p style="margin-top: -18px;">+6394   5760   1991</p>
                    </div>
                    <div class="py-4 mx-5">
                        <p class="fw-bold">Email</p>
                        <p style="margin-top: -18px;">gerald.diego99@yahoo.com</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mx-5">
            <div class="col">
                <hr class="text-dark w-100 m-auto" style="border-width: 3px;">
                <p class="text-center mt-3 fw-bold">Copyright ©2021 | All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>