<p-sidebar [visible]="true" [showCloseIcon]="false" [modal]="false" transitionOptions="0ms">
    <img src="./../../../assets/logo.svg" alt="Logo">
    <div class="accordion accordion-flush mt-5" id="accordionExample">
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="headingOne">
            <button style="background-color: rgba(0, 104, 163, 20%); color: #004972;" class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <img src="./../../../assets/grid-fill.svg" alt="grid dashboard">&nbsp;&nbsp;Dashboard
            </button>
          </h2>
          <!-- <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul *ngFor="let item of items" style="list-style-type: none; margin: 0; padding: 0;">
                    <li>
                        <a href="" style="text-decoration: none;"><p class="fw-bold" style="color: #004972;">{{item.label}}</p></a>
                        <hr class="text-primary border-2 opacity-50">
                    </li>
                </ul>
            </div>
          </div> -->
        </div>

        <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="headingTne">
              <button style="background-color: rgba(0, 104, 163, 20%); color: #004972;" class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                <img src="./../../../assets/person-check-fill.svg" alt="grid dashboard">&nbsp;&nbsp;Account and Savings
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul *ngFor="let item of items" style="list-style-type: none; margin: 0; padding: 0;">
                  <li>
                    <a href="" style="text-decoration: none;"><p class="fw-bold" style="color: #004972;">{{item.label}}</p></a>
                    <hr class="text-primary border-2 opacity-50">
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="headingOne">
              <button style="background-color: rgba(0, 104, 163, 20%); color: #004972;" class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                <img src="./../../../assets/cash-coin.svg" alt="grid dashboard">&nbsp;&nbsp;Expenses
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul style="list-style-type: none;">
                      <li>
                          <a href="" style="text-decoration: none;"><h6>Hello</h6></a>
                      </li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="headingOne">
              <button style="background-color: rgba(0, 104, 163, 20%); color: #004972;" class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                <img src="./../../../assets/gear-fill.svg" alt="grid dashboard">&nbsp;&nbsp;Settings
              </button>
            </h2>
          </div>

          <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="headingOne">
              <button style="background-color: rgba(0, 104, 163, 20%); color: #004972;" class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                <img src="./../../../assets/person-circle.svg" alt="grid dashboard">&nbsp;&nbsp;Administrator
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li>
                        <a href="/main/security/login" style="text-decoration: none;"><p class="fw-bold" style="color: #004972;">Logout</p></a>
                        <hr class="text-primary border-2 opacity-50">
                    </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
</p-sidebar>