@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
    
* {
    font-family:'Source Sans 3', sans-serif
}

.btn-blue-sign-in {
    color: #ffffff;
    background-color: #0068A3;
    font-size: 15px;
    padding: 16px;
    width: 100%;
}
