<div class="container-fluid shadow-sm bg-body rounded">
    <a href="/main"><img class="py-4 mx-3" src="./../../../assets/logo.svg" alt="Logo"></a>
</div>
<div class="container-fluid" [style]="screen_height_2">
    <div class="card mx-auto rounded shadow-lg" style="width: 400px; height: 500px;">
        <img class="pt-5 pb-4 mx-3 w-75 mx-auto d-block" src="./../../../assets/logo.svg" alt="Logo">
        <div class="card-body w-75 mx-auto d-block">
            <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="fw-bold" style="color: #004972">Email address</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword" class="fw-bold" style="color: #004972">Password</label>
            </div>
            <button routerLink="/main/dashboard" type="button" id="btn-size" class="btn btn-lg btn-blue-sign-in fw-bold">LOG-IN</button>
            <p class="my-3 text-center" style="color: #004972; font-weight: 500;">Don’t have an account? <a href="main/security/register" style="color: #004972;">Sign-up</a> here</p>
        </div>
    </div>
</div>