<div *ngIf="viewport; else mobileViewPort;">
    <div class="container-fluid shadow-sm bg-body rounded">
        <a href="/main"><img class="py-4 mx-3" src="assets/logo.svg" alt="Logo"></a>
    </div>
    <div class="container-fluid" style=" background-image: url('assets/login-background.svg'); width: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; padding: 100px 0 0 0; height: 90vh;">
        <div class="card mx-auto rounded shadow-lg" style="width: 400px; height: 500px;">
            <img class="pt-5 pb-4 mx-3 w-75 mx-auto d-block" src="assets/logo.svg" alt="Logo">
            <div class="card-body w-75 mx-auto d-block">
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="fw-bold" style="color: #004972">Email address</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword" class="fw-bold" style="color: #004972">Password</label>
                </div>
                <button routerLink="/main/dashboard" type="button" id="btn-size" class="btn btn-lg btn-blue-sign-in fw-bold">LOG-IN</button>
                <p class="my-3 text-center" style="color: #004972; font-weight: 500;">Don’t have an account? <a href="main/security/register" style="color: #004972;">Sign-up</a> here</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #EDEDED;">
        <div class="container px-5 mt-4">
            <div class="row mx-5">
                <div class="col">
                    <div class="d-flex flex-row">
                        <div class="py-4">
                            <p class="fw-bold">Social Media</p>
                            <div class="row">
                                <div class="col">
                                    <div style="margin: 0; padding: 0;">
                                        <img src="assets/h-divider.svg">
                                    </div>
                                </div>
                                <div class="col">
                                    <ul style="list-style-type: none; margin-left: -70px;">
                                        <li><a href="https://www.linkedin.com/in/gerald-diego-8aab2222a/" class="text-dark">LinkedIn</a></li>
                                        <li><a href="https://www.facebook.com/gerald.diego.54" class="text-dark">Facebook</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="py-4 px-5">
                            <p class="fw-bold">Job Websites</p>
                            <div class="row">
                                <div class="col">
                                    <div style="margin: 0; padding: 0;">
                                        <img src="assets/h-divider.svg">
                                    </div>
                                </div>
                                <div class="col">
                                    <ul style="list-style-type: none; margin-left: -70px;">
                                        <li><a href="https://myjobstreet.jobstreet.com.ph/resume/preview-resume.php" class="text-dark">Job Street</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="py-4">
                            <p class="fw-bold">Portfolio Websites</p>
                            <div class="row">
                                <div class="col">
                                    <div style="margin: 0; padding: 0;">
                                        <img src="assets/h-divider.svg">
                                    </div>
                                </div>
                                <div class="col">
                                    <ul style="list-style-type: none; margin-left: -80px;">
                                        <li><a href="https://gerald-diego54.github.io/gerald-portfolio/" class="text-dark">GitHub</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-row-reverse">
                        <div class="py-4">
                            <p class="fw-bold">Contact Information</p>
                            <p style="margin-top: -18px;">+6394   5760   1991</p>
                        </div>
                        <div class="py-4 mx-5">
                            <p class="fw-bold">Email</p>
                            <p style="margin-top: -18px;">gerald.diego99@yahoo.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-5">
                <div class="col">
                    <hr class="text-dark w-100 m-auto" style="border-width: 3px;">
                    <p class="text-center mt-3 fw-bold">Copyright ©2021 | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #mobileViewPort>
    <div class="container-fluid shadow-sm bg-body rounded">
        <a href="/main"><img class="py-4 w-50" src="assets/logo.svg" alt="Logo"></a>
    </div>
    <div class="container-fluid" style=" background-image: url('assets/login-background.svg'); width: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; padding: 50px 0 0 0; height: 550px;">
        <div class="card mx-auto rounded shadow-lg" style="width: 300px; height: 450px;">
            <img class="pt-5 pb-4 mx-3 w-75 mx-auto d-block" src="assets/logo.svg" alt="Logo">
            <div class="card-body w-75 mx-auto d-block">
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="fw-bold" style="color: #004972">Email address</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword" class="fw-bold" style="color: #004972">Password</label>
                </div>
                <button routerLink="/main/dashboard" type="button" id="btn-size" class="btn btn-lg btn-blue-sign-in fw-bold">LOG-IN</button>
                <p class="my-3 text-center" style="color: #004972; font-weight: 500;">Don’t have an account? <a href="main/security/register" style="color: #004972;">Sign-up</a> here</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #EDEDED;">
        <div class="container"><br>
            <div class="row">
                <div class="col">
                    <p class="fw-bold">Social Media</p>
                    <div class="d-flex flex-row">
                        <img src="assets/h-divider.svg">
                        <div class="d-flex flex-column">
                            <a href="" class="text-start px-3 text-dark">LinkedIn</a>
                            <a href="" class="text-start px-3 text-dark">Facebook</a>
                        </div>
                      </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <p class="fw-bold">Job Websites</p>
                    <div class="d-flex flex-row">
                        <img src="assets/h-divider.svg">
                        <div class="d-flex flex-column">
                            <a href="" class="text-start px-3 text-dark">Job Street</a>
                        </div>
                      </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <p class="fw-bold">Portfolio Websites</p>
                    <div class="d-flex flex-row">
                        <img src="assets/h-divider.svg">
                        <div class="d-flex flex-column">
                            <a href="" class="text-start px-3 text-dark">GitHub</a>
                        </div>
                      </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <p class="fw-bold">Email</p>
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column">
                            <a href="mailto:gerald.diego99@yahoo.com" class="text-start text-dark">gerald.diego99@yahoo.com</a>
                        </div>
                      </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <p class="fw-bold">Contact Number</p>
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column">
                            <p class="text-start text-dark">+6394  5760  1991</p>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="text-dark m-auto my-4" style="border-width: 3px;">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center fw-bold">Copyright ©2022 | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

